* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,0.9)), url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: roboto, sans-serif;
}

.site-content {
    max-width: 1125px;
    margin: 0 auto;
}

.hero {
    padding: 120px 15px;
    text-align: center;
}

.title, .subtitle {
    display: block;
    margin-bottom: -15px;
}

.hero .title {
    font-family: 'Playfair Display';
    font-size: 72px;
}

.hero .subtitle {
    font-family: 'Caveat';
    font-size: 64px;
    font-weight: normal;
}

.hero p {
    padding: 120px 220px 0;
    font-size: 18px;
}

.detail-taman {
    width: 100%;
    height: 100%;
    text-align: center;
}

.detail-taman .slider {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.slider ul {
    list-style: none;
}

.slider ul li {
    float: left;
    margin: 0 15px;
}

.slider ul li figure {
    margin: 0;
    padding: 0 auto;
}

.slider ul li figure img {
    width: 100%;
    margin: 0 auto;
}

.detail-taman form {
    width: 100%;
}

.detail-taman form button {
    font-size: 72px;
    color: #333333;
    background: none;
    border: none;
}

.detail-taman .map {
    width: 100%;
    height: 500px;
    margin: 120px auto 0;
    background: url(images/map.png);
    background-size: 100%;
    position: relative;
}

.map:before, .map:after{
    content: " ";
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
}

.map:before{
    top: 0;
    background-image: linear-gradient(white, rgba(255,255,255,0) );
}

.map:after{
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255,0), white );
}