/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* body */
body {
    background-color: #fcfcfc;
    font-family: 'Barlow', sans-serif;
}

/* header */
#header {
    width: 100%;
    height: 350px;
    margin: 0 auto 90px;
    background: url(../images/bg.jpg) ,#232323;
    background-size: 100%;
    background-repeat: no-repeat;
}

#header .hero {
    margin: 0;
    padding: 65px 0 14px;
    text-align: center;
}

/* header nav-menu */
#header .nav-menu {
    max-width: 1000px;
    height: 50px;
    margin: 53px auto 5px;
    padding: 12px 125px;
    background: #fcfcfc;
    border-bottom: 1px solid #b7b7b7;
    outline: none;
    overflow: visible;
}

.nav-menu ul {
    list-style: none;
    font-size: 20px;
}

.nav-menu ul li {
    float: left;
    position: relative;
}

.nav-menu ul li a {
    padding: 14px 20px;
    text-decoration: none;
    color: #232323;
    transition: 250ms ease-in-out;
}

.nav-menu ul li a:hover {
    background: #ff3a3a;
    color: #fcfcfc;
}

/* dropdown menu */
.nav-menu ul li ul{
    margin-top: 14px;
    background: #ff9191;
    display: none;
    position: absolute;
}

.nav-menu ul li ul li a{
    width: 200px;
    display: block;
    color: #232323;
}

.nav-menu ul li:hover ul {
    display: block;
}

.nav-menu ul li:hover ul li a:hover {
    color: #fcfcfc;
}

/* nav-search */
.nav-menu .nav-search {
    float: right;
}

.nav-search input {
    width: 230px;
    height: 25px;
    padding: 0 10px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    transition: border-color 300ms ease-in-out;
}

.nav-search input:hover {
    border: 1px solid #ff9191;
}

.nav-search input:focus {
    border: 1px solid #ff0c0c;
}

.nav-search button {
    width: 25px;
    height: 25px;
    padding: 5px;
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    background: none;
    transition: 300ms ease-in-out;
}

.nav-search button:hover {
    border: 1px solid #ff3a3a;
    color: #ff3a3a;
}

.nav-search button:active {
    background: #ff3a3a;
    color: #fefefe;
}

/* content */
#content {
    max-width: 1000px;
    margin: 0 auto 40px;
    padding: 5px 0;
    text-align: center;
}

/* request */
#content .rec {
    width: 100%;
    height: 60px;
    padding: 8px;
    margin: 0 auto 45px;
    color: #232323;
    font-size: 15px;
    border: 1px solid #cccccc;
}

/* item */
#content .item {
    width: 300px;
    height: 535px;
    margin: 0 10px;
    background: #fefefe;
    display: inline-block;
    border-bottom: 5px solid #b7b7b7;
    transition: 300ms ease-in-out;
}

#content .item:hover {
    border-bottom: 5px solid #ff3a3a;
}

#content .item figure {
    margin: 0;
    padding: 0;
}

#content .item article {
    padding: 10px;
}

#content .item a {
    color: #232323;
    text-decoration: none;
    transition: 250ms ease-in-out;
}

#content .item a:hover h2 {
    text-decoration: underline;
}

.item a p {
    padding-top: 10px;
}

#content .button {
    padding: 15px 0;
}

#content .button .get {
    width: 250px;
    height: 25px;
    margin: 2px 0;
    font-size: 13px;
    color: #fefefe;
    background: #232323;
    border-radius: 5px;
    border: none;
    transition: 200ms ease-in-out;
}

#content .button .get:hover {
    background: #ff3a3a;
}

#content .button .get:active {
    transform: skewX(15deg);
}

/* pagination */
#content .pagination {
    margin: 50px auto 0;
    display: inline-block;
}

.pagination a {
    margin: 0 4px;
    padding: 8px 16px;
    float: left;
    color: #232323;
    text-decoration: none;
    border: 1px solid #b7b7b7;
    transition: 120ms ease-in-out;
}

.pagination a:hover {
    border: 1px solid #ff3a3a;
    color: #ff3a3a;
}

.pagination a:active {
    background: #ff3a3a;
    color: #fefefe;
}

/* footer */
#footer {
    width: 100%;
    height: 200px;
    padding: 15px 300px;
    margin: 0 auto;
    background: #232323;
}

/* external link */
#footer .link {
    width: 450px;
    height: 100px;
    margin: 8px 5px 15px;
    padding: 10px;
    border-left: 1px dashed #fefefe;
    border-right: 1px dashed #fefefe;
    display: inline-block;
}
/* credit */
#footer .credit {
    width: 285px;
    height: 50px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    display: block;
}

#footer h3 {
    color: #b7b7b7;
    font-size: 16px;
}

#footer p, a {
    color: #fefefe;
}

#footer a:hover {
    text-decoration: none;
} 

#footer a:active {
    color: #ff3a3a;
}

#footer ul {
    list-style: none;
}