/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #fcfcfc;
    font-family: 'Open Sans', 'Contrail One', cursive, 'Barlow', sans-serif;
    color: #232323;
}

/* header */
#header {
    width: 100%;
    height: 225px;
    margin: 0 auto 60px;
    background: url(../images/bg.png) ,#232323;
    background-repeat: repeat;
    text-align: center;
}

#header .hero {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
}

/* header nav-menu */
#header .nav-menu {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 10px 0;
    font-family: 'Barlow';
    font-size: 25px;
}

#header .nav-menu ul { list-style: none; }
#header .nav-menu ul li { 
    display: inline;
    padding: 0 15px; 
}
#header .nav-menu ul li a {
    text-decoration: none;
    color: #232323;
}
#header .nav-menu ul li a:hover { color: #4facff; }

/* content */
#content {
    width: 100%;
    height: 100%;
    margin: 0 auto 40px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

/* content item */
#content .content-item {
    width: 100%;
    text-align: center;
}

#content .content-item .title {
    width: 100%;
    height: 80px;
    margin: 20px auto;
    padding: 20px 0;
    font-family: 'Contrail One';
    color: #232323;
    border-top: 1px solid #e2e2e2;
}

#content .content-item i {
    font-size: 25px;
    color: #232323; 
}

/* search */
#content .content-item .nav-search {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;
}

#content .content-item .nav-search input {
    width: 20%;
    height: 50px;
    padding: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #232323;
    background: #e2e2e2;
    color: #232323;
    font-family: 'Barlow';
    font-size: 18px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#content .content-item .nav-search input:focus {
    width: 40%;
    background: #fcfcfc;
}

#content .content-item .nav-search button {
    width: 80px;
    height: 50px;
    background: #232323;
    color: #fcfcfc;
    font-family: 'Barlow';
    font-size: 20px;
    border: none;
}

/* item */
#content .content-item .item {
    width: 300px;
    height: 550px;
    margin: 10px;
    font-family: 'Open Sans' ;
    background: #fefefe;
    display: block;
    float: left;
    border-bottom: 5px solid #b7b7b7;
    transition: 300ms ease-in-out;
}

#content .content-item .item:hover {
    border-bottom: 5px solid #4facff;
}

#content .content-item .item figure {
    margin: 0;
    padding: 0;
}

#content .content-item .item article {
    padding: 10px;
}

#content .content-item .item a {
    color: #232323;
    text-decoration: none;
    transition: 250ms ease-in-out;
}

#content .content-item .item a:hover h2 {
    text-decoration: underline;
}

.content-item .item a p {
    padding-top: 10px;
}

#content .button {
    padding: 15px 0;
}

/* footer */
#footer {
    width: 100%;
    height: 250px;
    padding: 15px 0;
    margin: 0 auto;
    font-family: 'Barlow';
    background: url(../images/bg.png),#232323;
}

/* credit */
#footer .credit {
    width: 100%;
    height: auto;
    padding: 35px 10px 35px 0;
    color: #fcfcfc;
    font-size: 20px;
    font-family: 'Barlow';
    text-align: center;
}

#footer .credit a {
    padding-right: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #fcfcfc;
    transition: 300ms ease-in-out;
}