/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* figure-reset */
figure {
    padding: 0;
    margin: 0;
}

/* body */
body {
    background-color: #fcfcfc;
    font-family: 'Jockey One', 'Average Sans', 'Viga', sans-serif;
    color: #0c0c0c;
}

/* header */
#header {
    width: 100%;
    height: 650px;
    margin-bottom: 25px;
    background: url(../images/bg.jpg), #111111;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* hero */
#header .hero {
    width: 100%;
    height: auto;
    margin: 60px auto 0;
    text-align: center;
}

#header .hero .web-logo { margin-bottom: -25px; }
#header .hero .web-title {
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    color: #fcfcfc;
}
#header .hero .talent {
    margin-top: -30px;
    margin-bottom: 25px;
}
#header .hero .navigation {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    font-size: 40px;
    display: block;
}
#header .hero .navigation a { color: #fcfcfc; }
#header .hero .navigation a:active { color: #2098D1; }

/* content */
#content {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    padding: 25px 0;
}

/* navigation-menu */
#content .nav-menu {
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
    padding: 15px 0;
    text-align: center;
}
#content .nav-menu ul { list-style: none; }
#content .nav-menu ul li {
    padding: 0 12px;
    display: inline;
    font-family: 'Viga', sans-serif;
    font-size: 35px;
    font-weight: lighter;
}
#content .nav-menu ul li a {
    text-decoration: none;
    color: #0c0c0c;
}
#content .nav-menu ul li a:active { color: #2098D1; }
/* content-title */
#content .content-title {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto 40px;
    text-align: center;
}
#content .content-title .subtitle {
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
}

/* history-section */
#content .history {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #f2f2f2;
}
#content .history #history-title { 
    padding-top: 15px;
    color: #fcfcfc;
}
#content .history .history-item {
    width: 90%;
    height: 100%;
    margin: 0 auto 10px;
    padding: 20px 25px;
    font-family: 'Average One', sans-serif;
    font-size: 20px;
    background-color: #fcfcfc;
}
#content .history .history-item p { margin: 10px 0; }
#content .history .hstr-nav { margin-top: 15px; }
#content .history .hstr-nav a { color: #fcfcfc; }

/* glossary-section */
#content .glossary {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}
#content .glossary .glossary-item {
    width: 100%;
    height: 365px;
    margin: -50px auto 0;
    padding: 25px 15px;
}
#content .glossary .glossary-item figure figcaption h3 {
    margin-bottom: 6px;
    font-family: 'Viga', sans-serif;
    font-size: 25px;
}
#content .glossary .glossary-item figure figcaption p {
    font-family: 'Average One', sans-serif;
    font-size: 18px;
    text-align: justify;
}
#content .glossary .glssr-nav { margin-top: 15px; }

/* recommendation-section */
#content .recommendation {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #f2f2f2;
}
#content .recommendation #rec-title {
    padding-top: 15px; 
    color: #fcfcfc;
}
#content .recommendation .rec-item {
    width: 100%;
    height: 315px;
    margin: 0 auto 20px;
    font-family: 'Average One', sans-serif;
    background-color: #fcfcfc;
}
#content .recommendation .rec-item h3 {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    display: block;
    font-family: 'Viga', sans-serif;
    color: #0c0c0c;
    background-color: #f2f2f2;
    text-align: center;
}
#content .recommendation .rec-item p {
    font-size: 16px; 
    margin-bottom: 15px;
    padding: 0 15px;
}
#content .recommendation .rec-item i { font-size: 20px; }
#content .recommendation .rec-nav a { color: #fcfcfc; }
#content .recommendation .rec-item .detail {
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    color: #0c0c0c;
}
#content .recommendation .rec-item .detail ul { list-style: none; }
#content .recommendation .rec-item .detail ul li {
    font-family: 'Average One', sans-serif;
    font-size: 16px;
    padding: 2px 0;
}

/* event-section */
#content .event {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    margin-bottom: 15px;
}
#content .event .event-item {
    width: 100%;
    height: auto;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
#content .event .event-item .event-detail {
    margin: 0 10px;
    font-family: 'Average One', sans-serif;
    font-size: 15px;
    float: left;
    position: absolute;
}
#content .event .event-item .event-detail h3 {
    margin-bottom: 6px;
    font-family: 'Viga', sans-serif;
}

/* content-page-navigation */
#content .page-nav {
    width: 250px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto 20px;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
}
#content .page-nav a {
    text-decoration: none;
    color: #0c0c0c;
}

/* footer */
#footer {
    width: 100%;
    height: 80%;
    padding: 25px 0;
    text-align: center;
    background-color: #111111;
}
/* footer-navigation */
#footer .footer-nav {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px;
    font-size: 30px;
}
#footer .footer-nav a { color: #fcfcfc }
#footer .footer-nav a:active { color: #2098D1; }
/* credit */
#footer .credit {
    width: 350px;
    height: auto;
    margin: -10px auto 15px;
    font-family: 'Average Sans', sans-serif;
    color: #fcfcfc;
}
#footer .credit p { font-size: 20px; }
#footer .credit a {
    margin-top: 10px;
    padding: 0 5px;
    font-size: 35px; 
    color: #fcfcfc;
}
#footer .credit a:active { color: #2098D1; }