/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* body */
body {
    background-color: #fcfcfc;
    font-family: "Barlow", sans-serif;
}

/* header */
#header {
    width: 100%;
    height: 350px;
    margin: 0 auto 85px;
    background: url(../images/bg.jpg) ,#000000;
    background-size: 100%;
    background-repeat: no-repeat;
}

#header .hero {
    margin: 0;
    padding: 65px 0 14px;
    text-align: center;
}

/* header nav-menu */
#header .nav-menu {
    max-width: 1000px;
    height: 50px;
    margin: 53px auto 20px;
    padding: 12px 165px;
    background: #fcfcfc;
    border-bottom: 1px solid #c4c4c4;
    outline: none;
    overflow: visible;
}

.nav-menu ul {
    list-style: none;
    font-size: 20px;
}

.nav-menu ul li {
    float: left;
    position: relative;
}

.nav-menu ul li a {
    padding: 14px 20px;
    text-decoration: none;
    color: #232323;
    transition: 250ms ease-in-out;
}

.nav-menu ul li a:hover {
    background: #ff3a3a;
    color: #fcfcfc;
}

/* dropdown menu */
.nav-menu ul li ul{
    margin-top: 14px;
    background: #c4c4c4;
    display: none;
    position: absolute;
}

.nav-menu ul li ul li a{
    width: 200px;
    display: block;
    color: #232323;
}

.nav-menu ul li:hover ul {
    display: block;
}

.nav-menu ul li:hover ul li a:hover {
    color: #fcfcfc;
}

/* nav-search */
.nav-menu .nav-search {
    float: right;
}

.nav-search input {
    width: 230px;
    height: 25px;
    padding: 0 12px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    transition: border-color 300ms ease-in-out;
}

.nav-search input:hover {
    border: 1px solid #ff9191;
}

.nav-search input:focus {
    border: 1px solid #ff0c0c;
}

/* content */
#content {
    max-width: 1000px;
    margin: 0 auto 50px;
    text-align: center;
}

#content .item {
    width: 300px;
    height: 420px;
    margin: 5px;
    background: #ffffff;
    display: inline-block;
}

#content .item article {
    padding: 20px;
}

#content .item a {
    text-decoration: none;
    color: #333333;
}

#content .item p {
    padding: 10px;
}

#content .item form {
    padding: 40px 20px 10px;
}

#content .item .get, .add {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background: #333333;
    color: #ffffff;
    font-size: 15px;
    display: block;
}

#content .item .add { 
    margin-top: 5px;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
    margin: 20px auto 0;
    background: #232323;
}

#footer p {
    padding: 20px 165px;
    color: #fefefe;
    font-size: 13px;
}